* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: white;
  color: black;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Utility */

.btn {
  display: inline-block;
  padding: 0.5rem;
  width: 175px;
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-red {
  background-color: rgb(156, 3, 3);
  color: white;
}

.btn p:hover {
  margin-right: 5px;
  border-bottom: 2px solid;
  margin-bottom: -2px;
  transition: margin-right 0.2s ease-in-out;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: auto;
  height: 100vh;
}

/* Main classes */

.main-nav {
  background-color: white;
  height: 3rem;
  padding: 1.75rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  letter-spacing: 0.05em;
}

.burger {
  display: none;
}

.logo {
  align-self: center;
  height: 1.5rem;
  margin-right: 1rem;
}

.main-menu,
.right-menu {
  display: flex;
  align-items: center;
}

.main-menu {
  flex: 1;
}
.right-menu {
  font-size: 1.25rem;
}

.main-menu__item,
.right-menu__item {
  box-sizing: border-box;
  margin: 0 1rem;
}

.main-menu__item:hover,
.right-menu__item:hover {
  box-sizing: border-box;
  border-bottom: 2px solid black;
  margin-bottom: -2px;
}

.outer-showcase {
  height: 400px;
  background: url("img/slide.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 0;
  display: flex;
  align-items: center;
}

.inner-showcase__img {
  display: none;
}

.inner-showcase {
  width: 50%;
  padding: 5%;
}

.inner-showcase__btns {
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Media Queries */
@media (max-width: 992px) {
  .container {
    width: 100%;
  }

  .burger {
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    cursor: pointer;
  }

  .main-menu {
    display: none;
    position: absolute;
    top: 3rem;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(241, 240, 240);
    font-weight: lighter;
    font-size: 15px;
    height: calc(100vh - 3rem);
    width: 100vw;
  }

  .main-menu__item {
    border-bottom: 1px solid rgb(201, 200, 200);
    width: 100%;
    padding: 20px 0;
    cursor: pointer;
  }

  .main-menu__item:hover {
    border-bottom: none;
    border-bottom: 1px solid rgb(201, 200, 200);
    margin-bottom: 0;
  }

  .main-nav {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 786px) {
  .outer-showcase {
    background-image: none;
    background-color: white;
    width: 100%;
    flex-direction: column;
  }

  .inner-showcase {
    width: 100%;
    background-color: rgb(243, 241, 241);
    padding: 100px;
    text-align: center;
    justify-content: center;
  }
  .inner-showcase__img {
    display: block;
    width: 100%;
  }

  .inner-showcase__btns {
    margin: 0;
    padding: 0;
  }
  .btn {
    margin: auto;
    margin-top: 1rem;
    padding-right: 0;
  }
}
