* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: white;
  color: black;
  font-size: 15px;
  line-height: 1.5;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Utility */

.btn {
  display: inline-block;
  padding: 0.5rem;
  width: 175px;
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-red {
  background-color: rgb(156, 3, 3);
  color: white;
}

.btn p:hover {
  margin-right: 5px;
  border-bottom: 2px solid;
  margin-bottom: -2px;
  transition: margin-right 0.2s ease-in-out;
}

.card .btn {
  color: rgb(156, 3, 3);
  margin-left: 0;
  padding-left: 0;
  justify-content: flex-start;
}

.card .btn i {
  margin-left: 1rem;
}

.container {
  width: min(90%, 1140px);
  margin: auto;
}

/* Main classes */

.main-nav {
  background-color: white;
  height: 3rem;
  padding: 1.75rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  letter-spacing: 0.05em;
}

.burger {
  display: none;
}

.logo {
  align-self: center;
  height: 1.5rem;
  margin-right: 1rem;
}

.main-menu,
.right-menu {
  display: flex;
  align-items: center;
}

.main-menu {
  flex: 1;
}
.right-menu {
  font-size: 1.25rem;
}

.main-menu__item,
.right-menu__item {
  box-sizing: border-box;
  margin: 0 1rem;
}

.main-menu__item:hover,
.right-menu__item:hover {
  box-sizing: border-box;
  border-bottom: 2px solid black;
  margin-bottom: -2px;
}

.outer-showcase {
  height: 400px;
  background: url("img/slide.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 0;
  display: flex;
  align-items: center;
}

.inner-showcase {
  height: 100%;
  width: 50%;
  padding: 5%;
}

.showcase__img {
  display: none;
}

.inner-showcase__btns {
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quicklinks {
  margin-top: 1rem;
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.quicklinks__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.quicklinks__icon {
  font-size: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card > img {
  margin-bottom: 1rem;
  width: 100%;
}

.second-showcase {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  margin-top: 2rem;
  overflow: hidden;
  flex-direction: row-reverse;
  align-items: center;
}

.second-inner-showcase {
  display: grid;
  align-content: center;
  background-color: rgb(243, 241, 241);
  flex-direction: row-reverse;
  align-items: center;
}

.second-showcase__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(243, 241, 241);
  background-size: 100%;
  width: 50%;
  padding: 0;
  margin: 0;
}

.second-showcase__img img {
  width: 100%;
}

.second-cards .card {
  margin-top: 2.5rem;
}

.second-cards .card:first-child {
  margin-top: 0rem;
}

.second-cards .card h2 {
  margin-bottom: 0.5rem;
  align-self: flex-start;
}

.social-pad {
  font-size: 12px;
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

.social-pad a {
  margin-right: 2rem;
  color: rgb(110, 110, 110);
  cursor: pointer;
}
.social-pad i {
  font-size: 2rem;
}

.links {
  background-color: rgb(243, 241, 241);
  margin: 2rem 0;
  font-size: 11px;
  color: rgb(110, 110, 110);
  line-height: 3;
}
.links a {
  color: rgb(110, 110, 110);
}
.links-inner {
  padding: 2rem 0;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
/* Media Queries */

@media (max-width: 992px) {
  .burger {
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    cursor: pointer;
  }

  .main-menu {
    display: none;
    position: absolute;
    top: 3rem;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(241, 240, 240);
    font-weight: lighter;
    font-size: 15px;
    height: calc(100vh - 3rem);
    width: 100vw;
  }

  .main-menu__item {
    border-bottom: 1px solid rgb(201, 200, 200);
    width: 100%;
    padding: 20px 0;
    cursor: pointer;
  }

  .main-menu__item:hover {
    border-bottom: none;
    border-bottom: 1px solid rgb(201, 200, 200);
    margin-bottom: 0;
  }

  .main-nav {
    width: 90%;
    margin: auto;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .links-inner {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

@media (max-width: 786px) {
  .outer-showcase {
    background-image: none;
    background-color: white;
    width: 100%;
    flex-direction: column;
    height: auto; /* Faticaccia!! */
  }

  .inner-showcase {
    height: auto;
    width: 100%;
    background-color: rgb(243, 241, 241);
    padding: 100px;
    text-align: center;
    justify-content: center;
  }
  .showcase__img {
    display: block;
    height: 200px;
    background: url("img/slide.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% 10%;
  }

  .inner-showcase__btns {
    margin: 0;
    padding: 0;
  }
  .btn {
    margin: auto;
    margin-top: 1rem;
    padding-right: 0;
  }

  .quicklinks {
    flex-direction: column;
    align-items: stretch;
  }

  .quicklinks__item {
    flex-direction: row;
  }

  .quicklinks__icon {
    margin-right: 2rem;
  }

  .second-inner-showcase {
    padding-top: 0;
  }

  .second-showcase__img {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    background-color: rgb(243, 241, 241);
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .links-inner {
    grid-template-columns: 1fr;
  }
}
